*{
    margin: 0;
    padding: 0;
} 
/* body {
  background: rgb(18,18,22);
  background: linear-gradient(140deg, rgba(18,18,22,0.9024859943977591) 0%, rgba(0,0,0,1) 16%, rgba(16,0,93,1) 50%, rgba(46,33,115,1) 96%);
  
  
 
} */